body {
    background: #0E0E10;
    color: white;
}

.wrapper {
    width: 1000px;
    height: 600px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    border: solid 2px #302F32;
    border-radius: 5px;
    background: #1F1E23;
}

.header {
    width: 100%;
    height: 100px;
    border-bottom: solid 2px #302F32;
}

.content {
    width: 100%;
    display: flex;
    flex: 1;
}

.menu {
    flex: 1;
    border-right: solid 2px #302F32;
}

.users {
    flex: 1;
    border-right: solid 2px #302F32;
}

.chat_wrapper {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.chat_window {
    flex: 6;
    border-bottom: solid 1px #555;
    padding: 8px;
}

.chat_form {
    flex: 1;
    padding: 8px;
    display: flex;
}

.chat_form_area {
    flex: 3;
}

.chat_form_submit {
    flex: 1;
}

.chat_form_submit button {
    width: 95%;
    height: 100%;
    color: white;
    background-color: #9146FF;
    border: none;
    border-radius: 6px;
    margin-left: 14px;
    margin-top: 3px;

}

.chat_form_area textarea {
    width: 100%;
    height: 100%;
    background-color: #3A3A3D;
    color: #C4C4C5;
    border: none;
    border-radius: 6px;
    resize: none;
    font-size: 16px;
    padding-left: 8px;
}



p {
    margin-left: 8px;
}

.line {
    border: solid 1px #555;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #1F1E23;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #555;
    color: white;
}

li a:hover {
    background-color: #555;
    color: white;
}
